<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>回忆过往，唯风作伴</string>
	<string>阳光下的非洲爵士</string>
	<string>别有一番味道
</string>
	<string>八月初醒，晨雾沁心</string>
	<string>星辰海洋，耳畔吟唱
星辰海洋，耳畔吟唱
星辰海洋，耳畔吟唱
</string>
	<string>周末万岁</string>
</array>
</plist>
